# FVM Version Cache
.fvm/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDEs and Tools
.idea/
.vscode/
*.iml
.DS_Store
*.log
*.jks
key.properties
.ruby-lsp/

# Coverage
coverage/*

# Agent Plans
.gemini/plans/*

