rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regra principal para a coleção 'users' e suas subcoleções
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /accounts/{accountId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /categories/{categoryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /notifications/{notificationId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
